@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using CZ.WebCore.SuperAdmin.ViewModels
@model ResetPasswordVM
@{
    ViewData["Title"] = "Reset Password";
    ViewData["Back"] = true;
}
<div class="row mb-3">
    <div class="col">
        <div class="float-start">
            <h4 class="mt-2">@ViewData["Title"]</h4>
        </div>
    </div>
    <div class="col">
    </div>
</div>
<form asp-action="ResetPasswordBySAAdmin">
    <div class="card shadow">
        <div class="form-group row card-body">
            <input type="hidden" asp-for="UserId" />
            <div class="form-group col-md-2">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer">
            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="fa fa-exchange-alt"></i> Change</button>
            </div>
        </div>
    </div>

</form>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}