@{
    ViewData["Title"] = "Support";
}
<div class="row justify-content-center">
    <div class="col-4">
		<div class="card border-primary border-bottom border-3 border-0">
			<img src="~/img/support.jpg" class="card-img-top" />
			<div class="card-body text-center">
				<h2 class="card-title text-primary text-center">CZ App Studio</h2>
				<h5 class="card-title text-primary text-center">Support Time</h5>
				<h6 class="card-text">Monday-Saturday 9AM-12PM IST</h6>
				<p>Whatsapp number <b>+91-88254 39260</b></p>
				<hr>
				<div class="d-flex justify-content-center align-items-center gap-2">
					<a href="tel:+9188254 39260" target="_blank" class="btn btn-primary"><i class="bi bi-telephone"></i> Call</a>
					<a href="https://czappstudio.com/" target="_blank" class="btn btn-primary"><i class="bi bi-globe"></i> Website</a>
				</div>
			</div>
		</div>
    </div>
</div>