@model IEnumerable<ESSWebPortal.ViewModels.Account.RoleVM>

@{
    ViewData["Title"] = "Roles";
}
<div class="card shadow">
    <div class="card-body">
        <table id="datatable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>

        //$(document).ready(function () {
        //    $('#role').change(function () {
        //        this.form.submit(function (e) {
        //            alert('form submitted');
        //            console.log(e);
        //            e.preventDefault();
        //        });
        //    });

        //});

        $(function () {
            $("#datatable").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#datatable_wrapper .col-md-6:eq(0)');

        });
    </script>
}

